.axis path{
  fill: none;
  stroke: black;
}

path {
  fill: none;
  stroke: black;
}

path.station1 {
  stroke: RoyalBlue;
}

path.station2 {
  stroke: MediumSeaGreen;
}

.axis {
  font-size: 12pt;
  font-family: sans-serif;
}

.tick {
  fill: none;
  stroke: black;
}

circle {
  stroke: black;
  stroke-width: 0.5px;
  fill: RoyalBlue;
  opacity: 0.6;
}

circle.station1 {
  fill: RoyalBlue;
}

circle.station2 {
  fill: MediumSeaGreen;
}

.key {
  float: right;
}

.key_line {
  font-size:17px;
  width:100%;
}

#timeseries {
  float: left;
}
